<div class="container" style="background-image: image_url('images/storage-unit-bg.jpg')">
<br/>
	<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <%= form_tag storage_units_path, method: :get, class: 'card card-sm' do |form| %>
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" name='city_zip' id='city_zip' placeholder="Search cities or zip code">
          </div>
          <div class="col-auto" style="margin: 2%">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  loadCitiesZip();
</script>