<div class="container" style="background-image: image_url('images/storage-unit-bg.jpg')">
<br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" name='city_zip' id='city_zip' placeholder="<%= t(:search_cities_or_zip_code) %>">
          </div>
          <div class="col-auto" style="margin: 2%">
            <button class="btn btn-lg btn-success" type="submit" onclick="searchByCity(this)"><%= t(:search) %></button>
          </div>
        </div>
    </div>
  </div>
  <div class= "col-12 justify-content-center">
    <%= render partial: 'list', locals: { cities: @cities } %>
  </div>
</div>

<script>
  var locale = "<%= I18n.locale.to_s %>"
  loadCitiesZip(locale);
  function searchByCity(e){
    window.location =  window.location.href + '/self_storage/' + $('#city_zip').val();
  }
</script>