<table class="table table-striped table-bordered">
  <thead>
    <th style="width: 15%"></th>
    <th style="width: 15%"><h6>Size</h6></th>
    <th style="width: 40%"><h6>Amenities</h6></th>
    <th style="width: 20%"><h6>Rates</h6></th>
  </thead>

  <% units.each do |unit| %>
    <tr>
      <%= render partial: 'units/details', locals: {unit: unit} %>
    </tr>
  <% end %>
</table>