<div class="container" style="padding: 20px">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="well sidebar-nav">
        <h3>Filter your search</h3>
        <%= render partial: 'filters' %>
      </div>
    </div>
    <div class="col-lg-9 col-md-9">
      <div id="storage_units_list">
        <%= render partial: 'list' %>
      </div>
    </div>
  </div>
</div>
