<p id="notice"><%= notice %></p>

<div>
  Name: <%= @storage_unit.name %>
</div>

<div>
  <%= link_to 'Edit', edit_storage_unit_path(@storage_unit) %> |
  <%= link_to 'Back', storage_units_path %>
</div>
