<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_storage_unit_unit_path(storage_unit_id: @storage_unit.id, id: unit.id) %> |
<%= link_to 'Back', storage_unit_units_path(storage_unit_id: @storage_unit.id) %>
